<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
        <p><%= "こんにちは、#{current_user.name}さん" %></p>
        <%# <%= link_to "ユーザー名さん", root_path, class: :greeting__link%>
      <%end%>
    <%# // ログインしているときは上記を表示する %>
    <div class="card__wrapper">
      <%= render partial: "prototype", collection: @prototypes %>
    </div>
  </div>
</main>
